.account
    margin: 20px
    +size(180px 220px)
    background-color: $main-color-1
    color: white
    text-align: center
    position: relative
    display: inline-block

    img
        +size(180px)

    p
        margin: 2px
        margin-top: 4px
        font-size: 1rem
